:root {
    --fundo-de-tela:#7FFFD4;
    --borda-caixa:#E0FFFF;
}

body {
    background-color: var(--fundo-de-tela);
}

* {
    box-sizing: border-box;
}

.adicionar {
    background-color: var(--borda-caixa);
    margin:10em 0 0 2em;
    border-radius: 20px;
}

.container{
    display: flex;
    justify-content: center;
    width:45%;
}

.imagem_dinheiro {
    margin: 5%;
    width:40%;
    height:82%;
}


.adicionar__itens__informacoes {
  display: flex;
  flex-direction: column;
  margin-top:35%;
}